<!DOCTYPE html>
<html lang="en">
<head>
   {{template "general/header"}}

  <style type="text/tailwindcss">
    #user-element {
      display: none;
    }
  </style>
</head>
<body>
<!-- beginanswer -->
<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex max-w-7xl mx-auto items-center justify-between px-6 py-4 lg:px-8 border-b-2 border-indigo-600" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Task Tracker Plus</span>
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button id="trayopen" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-sm font-semibold leading-6 text-indigo-600">Product</a>
        <a href="#" class="text-sm font-semibold leading-6 text-indigo-600">Features</a>
        <a href="#" class="text-sm font-semibold leading-6 text-indigo-600">Marketplace</a>
        <a href="#" class="text-sm font-semibold leading-6 text-indigo-600">Company</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="/client/register" class="text-sm font-semibold leading-6 text-indigo-600" style="padding-right: 20px;">Register</a>
        <a href="/client/login" class="text-sm font-semibold leading-6 text-indigo-600">Log in <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div id="nav-menu"  class="lg:hidden hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between ">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Ruangguru</span>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
          </a>
          <button id="trayclose" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-indigo-600 hover:bg-gray-50">Product</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-indigo-600 hover:bg-gray-50">Features</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-indigo-600 hover:bg-gray-50">Marketplace</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-indigo-600 hover:bg-gray-50">Company</a>
            </div>
            <div class="py-6">
              <a href="/client/register" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-indigo-600 hover:bg-gray-50">Register</a>
              <a href="/client/login" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-indigo-600 hover:bg-gray-50">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="flex items-center justify-center min-h-screen bg-cover" >
      <div class="w-full max-w-6xl px-8 py-8 mt-4 text-left bg-white shadow-lg rounded-lg">
        <div class="flex justify-around items-center flex-wrap">
          <div class="max-w-[500px] order-1 md:w-1/2 md:order-2">
            <div class="self-end px-4 flex justify-end md:w-[500px]">
              <img class="max-w-full w-[500px]"
              src="https://raw.githubusercontent.com/iqbalwaldan/upload/master/Register.png" alt="Register">
            </div>
          </div>
          <div class="order-2 w-[400px] md:order-2">
            <h3 class="text-2xl font-bold text-indigo-600 text-center mb-8">Register Account</h3>
            <form method="POST" action="/client/register/process">
              <div class="mt-4">
                  <div>
                      <label class="block text-indigo-600" for="fullname">Fullname<label>
                      <input type="text" placeholder="Fullname" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-600" name="fullname">
                  </div>
                  <div class="mt-4">
                      <label class="block text-indigo-600" for="email">Email<label>
                      <input type="email" placeholder="Email" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-600" name="email">
                  </div>
                  <div class="mt-4">
                      <label class="block text-indigo-600">Password<label>
                      <input type="password" placeholder="Password" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-600" name="password">
                  </div>
                  <div class="flex items-baseline justify-between">
                      <button class="px-6 py-2 mt-4 text-white bg-indigo-600 rounded-lg hover:bg-indigo-700">Register</button>
                      <a href="/client/login" class="text-sm text-indigo-600 hover:underline">Login</a>
                  </div>
              </div>
            </form>
          </div>

        </div>
      </div>
  </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>
<!-- endanswer -->

<!-- Script Toggle List Navbar Header -->
<script>
  // Tray
  const trayclose = document.querySelector('#trayclose');
  const trayopen = document.querySelector('#trayopen');
  const navmenu = document.querySelector('#nav-menu');

  trayclose.addEventListener('click', function () {
      navmenu.classList.toggle('hidden');
  });
  trayopen.addEventListener('click', function () {
      navmenu.classList.toggle('hidden');
  });
</script>
</body>
</html>